.proyectDetailContainer {
    width: 100%;
    margin-top: 30px;
}

.backAndProyectName {
    display: inline-block;
    flex-direction: row;
    margin-bottom: 40px;
}

.backAndProyectName * {
    display: inline;
    margin-right: 10px;
}

.backToProyects {
    color: rgb(61, 122, 237);
    cursor: pointer;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
}

.backToProyects:hover {
    border-bottom: 2px solid rgb(61, 122, 237);
}
