.profileSection {
    display: flex;
    flex-direction: column;
    gap: 40px;
    z-index: 1;
}

.name-desccription-container{
    display: flex;
    align-items: center;
    gap: 40px;
}

.name {
    font-size: 30px;
}

.imgProfile{
    width: 150px;
    height: auto;
    border-radius: 50%;
    border: 1px solid white;
}

@media (min-width: 1266px) {
    .imgProfile{
        margin-left: auto;
    }
    .name-desccription-container{
        flex-direction: row;
    }
}

@media (max-width: 626px) {
    .imgProfile{
        margin-left: auto;
        margin-right: auto;
    }
    .name-desccription-container{
        flex-direction: column;
    }
}

@media (max-width: 450px) {
    .imgProfile{
        margin-left: auto;
        margin-right: auto;
    }
    .name-desccription-container{
        flex-direction: column;
    }
}