.proyectContainer {
    display: flex;
    flex-direction: column;
    width: 1fr;
    gap: 5px;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
}

#dark .proyectContainer:hover {
    background-color: rgba(255, 255, 255, .05);
}

#light .proyectContainer:hover {
    background-color: rgba(0, 0, 0, .05);
}

.imgProyect {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.nameProyect, .littleDescription {
    margin: 0;
    text-align: center;
}

.littleDescription{
    font-size: 14px;
}

.nameProyect::after {
    content: convert(var(--gridList-column) string);
}

