* {
    margin: 0;
}
.home {
    display: flex;
    flex-direction: column;
    gap: 60px;
    width: 100%;
}

.sectionTitle {
    width: fit-content;
    font-size: 22px;
    margin-bottom: 20px;
}

#dark .sectionTitle {
    border-bottom: 3px solid rgba(255, 255, 255, 0.2);
}
#light .sectionTitle {
    border-bottom: 3px solid rgba(0, 0, 0, 0.2);
}