#dark{
    background-color: #222222;
    color: #EEEEEE;
}
#light{
    background-color: #f0e7db;
    color: #222222;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.itemsContainer {
    max-width: 550px;
    padding: 0 20px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgBackgrond {
    width: 130%;
    height: 130%;
}