#dark{
    background-color: #222222;
    color: #EEEEEE;
}
#light{
    background-color: #f0e7db;
    color: #222222;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.itemsContainer {
    width: var(--var-size);
    padding-bottom: 50px;
    transform: translate(0, 50px);
}

.imgBackgrond {
    width: 100%;
    height: 100%;
}